{{define "header"}}

<header class="p-3 text-bg-dark rounded ">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
            <a class="navbar-brand" href="#">small计算</a>

            <ul class="nav col-3  me-lg-auto mb-5 justify-content-center mb-md-0">
                <li><a href="/index" class="nav-link px-2 text-white">首页</a></li>
                <li><a href="/index" class="nav-link px-2 text-white">开始</a></li>
               
            </ul>


            <div class="text-end">
                <a type="button" href="/login" class="btn btn-outline-light me-2">登录</a>
                <a type="button" href="/register" class="btn btn-warning">注册</a>
            </div>
        </div>
    </div>
</header>
  {{end}}