<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <title>注册</title>
</head>

<body> 
    
    <div class="container">
        <header class="p-3 text-bg-dark rounded ">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
                    <a class="navbar-brand" href="#">small计算</a>

                    <ul class="nav col-3  me-lg-auto mb-5 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 text-white">首页</a></li>
                        <li><a href="/login" class="nav-link px-2 text-white">开始</a></li>
                
                    </ul>


                    <div class="text-end">
                        <a type="button" href="/login" class="btn btn-outline-light me-2">登录</a>
                        <a type="button" href="/register" class="btn btn-warning">注册</a>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="row justify-content-center ">
            <div class="col-md-4">
                <form  method="post" action="/register" >
                    <p style="background-color: red;">{{.}}</p>
                    <div class="mt-3">
                        <label for="exampleInputEmail1" class="form-label">用户名称</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" >
                    </div>

                    <div class="mt-3">
                        <label for="exampleInputPassword1" class="form-label">用户密码</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                   
                    <div class="mt-3">
                        <label for="exampleInputPassword2" class="form-label">确认密码</label>
                        <input type="password" name="password2" class="form-control" id="exampleInputPassword2">
                    </div>

                    <button type="submit " class="btn btn-primary mt-3">注册</button>
                </form>

            </div>
        </div>
        {{template "footer"}}
    </div>


</body>

</html>