<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/editormd/css/editormd.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <title>首页</title>
</head>

<body>
    <div class="container ">
        <header class="p-3 text-bg-dark rounded ">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
                    <a class="navbar-brand" href="#">small计算</a>

                    <ul class="nav col-3  me-lg-auto mb-5 justify-content-center mb-md-0">
                        <li><a href="/login" class="nav-link px-2 text-white">首页</a></li>
                        <li><a href="/login" class="nav-link px-2 text-white">开始</a></li>
                    </ul>

                    <div class="text-end">
                        <a type="button" href="/login" class="btn btn-outline-light me-2">登录</a>
                        <a type="button" href="/register" class="btn btn-warning">注册</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark mt-1">
            <div class="col-md-8 px-0">
                <p></p>
              <h1 class="display-4 fst-italic">Welcome To SmallCount</h1>
              <p class="lead my-3">Threre are three levels to select</p>
              <p class="lead mb-0"><a href="/login" class="text-white fw-bold">click here...</a></p>
            </div>
        </div>

        



       

        <footer class="blog-footer">
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-end align-items-center py-3 my-4 border-top">
                    <div class="col-md-4 d-flex align-items-center">
                        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                            <svg class="bi" width="30" height="24">
                                <use xlink:href="#bootstrap" />
                            </svg>
                        </a>
                        <span class="mb-8 mb-md-5 text-muted">&copy; , 2022</span>
                    </div>


                </footer>
            </div>
        </footer>
    </div>


</body>

</html>